* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
/* PERFIL */
/* Color del enlace del email en "orange" y "red" al hacer clic sobre el enlace */
a[href^="mailto:"] {
    color: orange;
}
a[href^="mailto:"]:active {
    color: red;
}
.profile-container {
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    align-items: stretch;
    gap: 5px;
}
/* Curva del borde superior izquierdo de la imagen */
.profile-container img {
    border-top-left-radius: 50px;
    width: 180px;
    height: 100%;
    display: block;
    object-fit: cover;
}
.profile-content {
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}
/* En letra más grande y de otro color */
.profile-content-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8rem;
    color: orange;
}
/* Con una fuente distinta a la de defecto, y en cursiva. */
.profile-content-description {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.profile-content-data {
    line-height: 1.6;
    display: flex; 
    flex-wrap: wrap;
}
.profile-content-data p, .profile-content-data strong {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}
.profile-content-contact {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family:'Times New Roman', Times, serif;
}

/* INDEX */
/* Debe estar separadas gráficamente de <section> por una línea. */
.navbar-container {
    background-color: #79a6e8;
    border-bottom: 1px solid #79a6e8;
    padding: 10px 10px;
    font-size: 1.5rem;
    color: white;
}
#siteSearch {
    display: flex;
    align-items: center;
    gap: 5px;
}
#searchText {
    border: none;
    padding: 5px;
    width: 150px;
    height: auto;
    font-size: 70%;
}
#searchSubmit {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    height: auto;
    font-weight: bold;
    font-size: 70%;
    color: #79a6e8;
}
.navbar-content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
}
.navbar-content li:first-child {
    font-weight: bold;
}
li span {
    font-size: 70%;
}
section {
    flex-grow: 1; 
}
/* Debe estar separadas gráficamente de <section> por una línea. */
footer {
    background-color: #79a6e8;
    border-top: 1px solid #79a6e8;
    padding: 15px 15px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.cards-container {
    margin: 1.5rem auto;
    padding: 0 30px;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    list-style: none;
}
.cards-container a {
    text-decoration: none;
}
.card-content {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    display: block;
    text-align: center;
    transition: transform .2s;
}
.card-content img {
    padding: 20px 20px 0 20px;
    width: 80%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}
.card-content p {
    margin: 0;
    padding: 10px 5px;
    font-size: 1rem;
    color: #79a6e8;
}
.card-content:hover {
    background-color: #99c5dd;
    transform: scale(1.1) rotate(10deg);
    transition: transform 0.5s ease;
}
/* PERFIL, INDEX */
.site-message {
    display: none;
    justify-content: center;
    font-size: 1.8rem;
    color: #79a6e8;
}
.site-error {
    background-color: #f44336;
    border-bottom: 3px solid #f44336;
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    font-size: 18px;
    color: white;
    text-align: center;
}
.hidden {
    display: none !important;
}
.show-flex {
    display: flex !important;
}
/* Características de cuatro tipos de pantallas usando media con breakpoint */
/* Dispositivos móviles */
@media (max-width: 480px) {
    body {
        font-size: 8px;
    }
    /* PERFIL */
    .profile-container {
        width: 95%;
    }
    .profile-container img {
        width: 120px;
    }
    .profile-content {
        width: 100%;
    }
    .profile-content-name {
        font-size: 1rem;
    }
    .profile-content-description {
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
    }
    .profile-content-contact {
        margin-bottom: 0.7rem;
    }
    /* INDEX */
    .navbar-container {
        font-size: 1rem;
    }
    #siteSearch {
        width: 100%;
    }
    #searchText {
        width: 70%;
    }
    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    footer {
        font-size: 0.8rem;
    }
    .cards-container {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    .card-content p {
        font-size: 0.8rem;
    }
    .card-content:hover {
        transform: scale(0.8) rotate(6deg);
        transition: transform 0.5s ease;
    }
    /* PERFIL, INDEX */
    .site-message {
        font-size: 1rem;
    }
    .site-error {
        font-size: 1rem;
    }
}
/* iPads, tablets */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 10px;
    }
    /* PERFIL */
    .profile-container {
        width: 95%;
    }
    .profile-container img {
        width: 140px;
    }
    .profile-content {
        width: 100%;
    }
    .profile-content-name {
        font-size: 1.2rem;
    }
    .profile-content-description {
        margin-top: 0.4rem;
        margin-bottom: 0.7rem;
    }
    .profile-content-contact {
        margin-bottom: 0.9rem;
    }
    /* INDEX */
    .navbar-container {
        font-size: 1.2rem;
    }
    footer {
        font-size: 0.8rem;
    }
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-content p {
        font-size: 0.8rem;
    }
    .card-content:hover {
        transform: scale(1) rotate(8deg);
        transition: transform 0.5s ease;
    }
    /* PERFIL, INDEX */
    .site-message {
        font-size: 1.2rem;
    }
    .site-error {
        font-size: 1.2rem;
    }
}
/* Pantallas pequeñas, ordenadores portátiles */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    /* PERFIL */
    .profile-container {
        width: 95%;
    }
    .profile-container img {
        width: 180px;
    }
    .profile-content {
        width: 100%;
    }
    .profile-content-name {
        font-size: 1.8rem;
    }
    .profile-content-description {
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }
    .profile-content-contact {
        margin-bottom: 1rem;
    }
    /* INDEX */
    .navbar-container {
        font-size: 1.5rem;
    }
    footer {
        font-size: 1rem;
    }
    .card-content p {
        font-size: 1rem;
    }
    /* PERFIL, INDEX */
    .site-message {
        font-size: 1.8rem;
    }
    .site-error {
        font-size: 1.8rem;
    }
}
/* Pantallas grandes, ordenadores de escritorio */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        font-size: 18px;
    }
    /* PERFIL */
    .profile-container {
        width: 95%;
    }
    .profile-container img {
        width: 200px;
    }
    .profile-content {
        width: 100%;
    }
    .profile-content-name {
        font-size: 2rem;
    }
    .profile-content-description {
        margin-top: 0.7rem;
        margin-bottom: 1rem;
    }
    .profile-content-contact {
        margin-bottom: 1.2rem;
    }
    /* INDEX */
    .navbar-container {
        font-size: 1.7rem;
    }
    footer {
        font-size: 1.2rem;
    }
    .card-content p {
        font-size: 1.2rem;
    }
    /* PERFIL, INDEX */
    .site-message {
        font-size: 2rem;
    }
    .site-error {
        font-size: 2rem;
    }
}