* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* PERFIL */
/* Color del enlace del email en "orange" y "red" al hacer clic sobre el enlace */
a[href^="mailto:"] {
    color: orange;
}
a[href^="mailto:"]:active {
    color: red;
}
.perfil-content {
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}
/* En letra más grande y de otro color */
.perfil-content-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8em;
    color: orange;
}
/* Con una fuente distinta a la de defecto, y en cursiva. */
.perfil-content-description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.perfil-content-footer {
    margin-top: 0;
    margin-bottom: 1em;
}
/* Curva del borde superior izquierdo de la imagen */
.perfil-container img {
    border-top-left-radius: 50px;
    width: 180px;
    height: auto;
    object-fit: cover;
}
.perfil-container {
    margin: 50px auto;
    width: 800px;
    display: flex;
    align-items: stretch;
    gap: 5px;
}
.perfil-content-data {
    margin-top: 1em;
    line-height: 1.6;
    display: flex; 
    flex-wrap: wrap;
}
.perfil-content-data p, .perfil-content-data strong {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    text-align: left;
}

/* INDEX */
/* Debe estar separadas gráficamente de <section> por una línea. */
header nav {
    background-color: #79a6e8;
    border-bottom: 1px solid #79a6e8;
    padding: 10px 10px;
    font-size: 1.5em;
    color: white;
}
header nav form {
    display: flex;
    align-items: center;
    gap: 5px;
}
header nav input[type="text"] {
    border: none;
    width: 150px;
    height: auto;
    padding: 5px;
}
header nav input[type="submit"] {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 15px;
    height: auto;
    font-weight: bold;
    color: #79a6e8;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
}
nav ul li:first-child {
    font-size: 1.1em;
    font-weight: bold;
}
li span {
    font-size: 70%;
}
/* Debe estar separadas gráficamente de <section> por una línea. */
footer {
    background-color: #79a6e8;
    border-top: 1px solid #79a6e8;
    padding: 15px 15px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.cards-container {
    margin: 1.5em auto;
    padding: 0;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    list-style: none;
}
.card-content {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    display: block;
    text-align: center;
    transition: transform .2s;
}
.card-content img {
    width: 80%;
    height: auto;
    padding: 20px 20px 0 20px;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}
.card-content p {
    margin: 0;
    padding: 10px 5px;
    font-size: 1.1em;
    color: #79a6e8;
}
/* 
Incluya un efecto de zoom y de rotación sobre la imagen y texto de los alumnos cada
vez que se pase por encima el ratón y cambie también el color de fondo a #99c5dd 
*/
.card-content:hover {
    background-color: #99c5dd;
    transform: scale(1.1) rotate(30deg);
    transition: transform 0.5s ease;
}